// This file is for defining and overwriting theme variables contained in main.scss
// which also imports _custom.scss.

@font-face{
	font-family: 'Effra Bold';
	src: url('../css/fonts/Effra-Heavy.ttf');
	}

@font-face{
	font-family: 'Effra';
	src: url('../css/fonts/Effra-Medium.ttf');
	}

@font-face{
	font-family: 'NeuzeitSLTStdBook';
	src: url('../css/fonts/NeuzeitSLTStd-Book.otf');
	}
	

$color-theme: #2D2A26;

$footer-height: 120px !default;

$gsdc-primary: #2D2A26 !default;

$gsdc-btn-primary: () !default;

$portlet-decorate-bg: #fff;

// Sapphire Branding

$sapphire-typeface: 'NeuzeitSLTStdBook',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
$sapphire-typeface-heading: 'Effra',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

$brand-dark: #2D2A26;
$brand-gold: #25CBD3;
$brand-light: #F7F7F9;
$brand-secondary-light: #b2b2b2;